.font11 { font-size: 11pt; font-family: "ו"; font-style: normal}
.font9 { font-size: 9pt; font-family: "ו"; line-height: 13pt}

.form { background-color: #FFFFCC; font-size: 9pt; line-height: 13pt; font-family: ו }

a:visited { text-decoration: none }
a:active  { text-decoration: none }
a:link    { text-decoration: none }
a:hover   { text-decoration: underline}
